---js
{
	eleventyNavigation: {
		key: "Publications",
		order: 3,	
	},
	title: "Anselmo Luiz Éden Battisti - List of Publications",
	description: "List of some of publications published by Anselmo Luiz Éden Battisti in co-authorship with other authors in magazines and scientific events." 
}
---
<h1>Publications</h1>


{% set publicationslist = collections.publications %}
{% include "publicationslist.njk" %}
