---
layout: layouts/base.njk
---
<article>
  <h1>{{ title }}</h1>  
  <p><strong>Year:</strong> {{ year }}
  <p style="text-align: justify;"><strong>Abstract:</strong> {{ abstract }}</p>  
  <p><strong>Event / Magazine:</strong> {{ event_magazine }}</p>  
  
  <p><strong>Download:</strong> 
    <a href="{{ pdf_link }}" target="_blank" rel="noopener">PDF</a>    
  </p>
  <div>
    {{ content | safe }}
  </div>
</article>